$dat-green: rgb(69, 153, 145);

.switch {
    position: relative;
    display: inline-block;
    width: 456px;
    height: 45px;

    @media only screen and (max-width: 500px) {
        width: 273.6px;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    h3 {
        position: absolute;
        top: -14px;
        left: 65px;
        font-weight: 400;
        color: white;
        transition: .4s;

        &:nth-of-type(2) {
            color: $dat-green;
            left: 324px;
        }
        
        @media only screen and (max-width: 500px) {
            top: -6px;
            left: 30px;
            font-size: 15.5px;
            font-weight: 600;
            &:nth-of-type(2) {
                left: 150px;
            }
        }
    }


    input:checked~h3 {
        color: $dat-green;

        &:nth-of-type(2) {
            color: white;
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 50px;

    &::before {
        position: absolute;
        content: "";
        height: 45px;
        width: 228px;

        @media only screen and (max-width: 500px) {
            width: 136.8px;
        }

        background-color: $dat-green;
        border-radius: 50px;
        transition: .4s;
    }

    input:checked+&::before {
        transform: translateX(228px);

        @media only screen and (max-width: 500px) {
            transform: translateX(136.8px);
        }
    }
}